@import './colors.module.scss';

// Global scroll
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 8px;
}

body::-webkit-scrollbar-track {
  background-color: $neutral;
}

// Alerts scroll
.alerts .box::-webkit-scrollbar {
  width: 0;
}
